<p>member-form works!</p>
<form [formGroup]= "form" (ngSubmit)= "onSubmit()">
  <p>
        <mat-form-field appearance="fill">
            <input matInput placeholder="cin" formControlName="cin">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <input matInput placeholder="name" formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <input matInput placeholder="cv" formControlName="cv">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <input matInput placeholder="type" formControlName="type">
        </mat-form-field>
   <br>
</p>
  <button mat-button type="Submit" [disabled]>Submit</button>

</form>
